
/*Colores*/
$primary:#2EC4B6;
$secondary:#4e4e4e;
$accent:#ffb048;
$neutral: #fff;
$neutral-secondary: #e8fcfa;


/*spacing*/
$p10: 10px;
$width:100%;

/*Texto*/
$body-font: normal 16px 'Nunito', sans-serif;
$title-font: normal 800 'Nunito', sans-serif;